/*<meta />*/

/*column-break-after: avoid;*/

body
{
	font-family: Arial;
}

h1
{
	font-weight: bold;
	font-style: italic;
	font-size: 36pt;
	margin-bottom: 0.25in;
	margin-top: 1.75in;
}

h1.chaptertitle
{
	text-align: left;
	margin-top: 0;
	font-family: Arial;
	color: #000000;
	font-variant: small-caps;
	mc-auto-number-offset: 1cm;
	font-weight: normal;
	font-style: normal;
	margin-left: 0;
	margin-bottom: 8pt;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	font-size: 16pt;
	mc-auto-number-format: '{Cn+}. ';
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
}

h2
{
	font-family: Arial;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	font-size: 16pt;
	margin: 0em;
	margin-bottom: 2pt;
	column-break-before: always;
}

h2.chaptertitle
{
	mc-auto-number-format: '{Cn+}. ';
	column-break-inside: avoid;
}

h2.preface
{
	margin-top: 6pt;
	mc-heading-level: 2;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 4pt;
	padding-top: 0pt;
	font-size: 7pt;
	column-break-before: avoid;
	border-bottom-style: none;
}

h3
{
	font-size: 12.0pt;
	margin-top: 12.00pt;
	margin-bottom: 0;
	column-break-inside: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
	font-weight: bold;
	mc-hyphenate: never;
}

h3.preface
{
	margin-top: 6pt;
	mc-heading-level: 2;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 4pt;
	padding-top: 0pt;
	font-size: 7pt;
	column-break-before: avoid;
	border-bottom-style: none;
	font-variant: small-caps;
}

h4
{
	mc-heading-level: 0;
	font-family: Arial;
	font-weight: bold;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	margin-top: 6pt;
	margin-bottom: 3pt;
	margin-left: 1.5cm;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-family: Arial;
	text-align: justify;
	margin-bottom: 6pt;
	margin-top: 6pt;
	color: #000000;
	mc-hyphenate: never;
	margin-left: 1.5cm;
	orphans: 3;
	font-size: 8pt;
}

p.QR
{
	margin: 0pt;
	font-size: 8pt;
	text-align: center;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

p.heading1
{
	font-weight: bold;
	font-style: italic;
	font-size: 36pt;
	margin-bottom: 0.25in;
	page-break-before: always;
	margin-top: 1.75in;
}

p.booktitle
{
	font-weight: bold;
	font-style: italic;
	font-size: 64pt;
	text-align: center;
	margin-top: 1in;
	margin-bottom: 1in;
	page-break-before: always;
}

p.subtitle
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 18pt;
}

p.indent
{
	margin-bottom: 3pt;
	margin-top: 3pt;
	text-align: left;
	margin-left: 2.0cm;
}

p.indent2
{
	margin-bottom: 3pt;
	margin-top: 3pt;
	text-align: left;
	font-size: ;
	margin-left: 2.500cm;
}

p.tablebodyindent
{
	text-align: left;
	font-size: 8pt;
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 0.500cm;
}

p.version
{
	text-align: left;
	font-size: 8pt;
	margin-bottom: 3pt;
	margin-top: 3pt;
}

p.footer
{
	text-align: right;
	margin-top: 0;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	margin-bottom: 0;
	margin-left: 0;
}

p.footerleft
{
	margin-bottom: 0;
	margin-top: 0;
	text-align: left;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	margin-left: 0;
}

p.headerleft
{
	margin-bottom: 0;
	margin-top: 0;
	text-align: left;
	margin-left: 0;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
}

p.headerright
{
	margin-bottom: 0;
	margin-top: 0;
	text-align: right;
	margin-left: 0;
	font-weight: bold;
	font-style: normal;
	font-size: 9pt;
	vertical-align: middle;
}

span.chapnum
{
	font-weight: bold;
	font-style: normal;
	font-size: 36pt;
	font-family: Arial;
	color: #696969;
}

img.inline
{
	vertical-align: sub;
}

p.booktitle
{
	text-align: left;
	font-weight: bold;
	font-style: normal;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 3pt;
	font-variant: small-caps;
	font-size: 18pt;
}

p.tbody
{
	font-size: 8pt;
	margin-bottom: 3pt;
	margin-top: 3pt;
	text-align: left;
	margin-left: 0;
}

p.ttitle
{
	text-align: left;
	text-indent: 0;
	mc-auto-number-position: outside-head;
	mc-auto-number-class: caption;
	font-size: 8pt;
	margin-top: 9pt;
	mc-auto-number-format: 'T: Table {n+}: ';
	mc-auto-number-offset: 1.5cm;
	column-break-after: avoid;
	margin-left: 1.500cm;
}

p.ttitleindent
{
	text-align: left;
	mc-auto-number-position: outside-head;
	mc-auto-number-class: caption;
	font-size: 8pt;
	margin-top: 9pt;
	mc-auto-number-format: 'T: Table {n+}: ';
	column-break-after: avoid;
	mc-auto-number-offset: 1.5cm;
	text-indent: 15mm;
	margin-left: 20mm;
}

span.caption
{
	font-weight: bold;
	font-style: normal;
}

p.thead
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	font-size: 8pt;
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 0.00cm;
}

p.codeblock
{
	text-align: left;
	font-size: 8pt;
	font-family: 'Courier New';
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 2cm;
}

p.codeblockinlist
{
	text-align: left;
	font-size: 8pt;
	font-family: 'Courier New';
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 2.5cm;
}

p.subtitle
{
	font-weight: bold;
	font-style: normal;
	text-align: left;
	font-size: 20pt;
	margin-left: 0;
	margin-bottom: 6pt;
	margin-top: 36px;
}

ul
{
	font: arial;
	font-size: 9pt;
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 2cm;
}

ol
{
	mc-auto-number-offset: 0.5cm;
	mc-auto-number-position: outside-frame;
	mc-auto-number-format: '{n+}';
}

a
{
	text-decoration: none;
	color: #000000;
}

p.step
{
	text-align: left;
	margin-top: 3pt;
	margin-bottom: 3pt;
	mc-auto-number-format: '{n+}.';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
	margin-left: 2cm;
}

span.bold
{
	font-weight: bold;
	font-style: normal;
}

p.step1
{
	text-align: left;
	margin-top: 3pt;
	margin-bottom: 3pt;
	mc-auto-number-format: '{n=1}.';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
	margin-left: 2cm;
	column-break-inside: avoid;
}

span.uicontrol
{
	font-weight: bold;
	font-style: italic;
}

span.userinput
{
	font-family: monospace;
}

span.filepath
{
	font-weight: bold;
	font-style: italic;
}

span.wintitle
{
	font-weight: bold;
	font-style: normal;
}

span.screen
{
	font-weight: bold;
	font-style: italic;
}

span.systemoutput
{
	font-family: monospace;
}

span.emphasis
{
	font-weight: normal;
	font-style: italic;
}

th
{
	font-weight: bold;
	font-style: normal;
	font-size: 8pt;
	color: #000000;
	border-left-style: none;
	border-right-style: none;
	border: none 1.5pt #000000;
	border-left-color: #ffffff;
	border-left-width: 0pt;
	border-right-color: #ffffff;
	border-right-width: 0pt;
	border-bottom: none 1.5pt #000000;
	border-top-style: none;
}

td
{
	text-align: left;
	font-size: 9pt;
	color: #000000;
	border: none 0.5pt #000000;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-bottom: none 1pt #000000;
	border-top: none 1pt #000000;
}

p.TOC1
{
	text-align: left;
	margin-top: 16pt;
	margin-bottom: 3pt;
	font-size: 12pt;
	mc-auto-number-format: ;
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 1cm;
	margin-left: 0.500cm;
}

p.TOC2
{
	text-align: left;
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-size: 9pt;
	margin-left: 1.5cm;
}

p.TOC3
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-size: 9pt;
	text-align: left;
	margin-left: 2cm;
}

p.TOC4
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	font-size: 9pt;
	text-align: left;
	margin-left: 2.5cm;
}

tr
{
	border: solid 0.5pt #000000;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

p.safetynotice
{
	font-weight: normal;
	font-style: italic;
	margin-left: 0.7cm;
	margin-top: 6pt;
	margin-bottom: 6pt;
	text-align: justify;
	font-size: 8pt;
}

p.tip
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	mc-auto-number-format: '{b}Tip:{/b}';
	mc-auto-number-position: outside-head;
	font-weight: normal;
	font-style: italic;
	margin-top: 8pt;
	margin-bottom: 8pt;
	margin-left: 1.5cm;
	mc-auto-number-offset: 1cm;
}

p.caution
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	mc-auto-number-format: '{b}Caution:{/b}';
	mc-auto-number-position: outside-head;
	font-weight: normal;
	font-style: italic;
	margin-top: 8pt;
	margin-bottom: 8pt;
	margin-left: 1.5cm;
	mc-auto-number-offset: 1cm;
}

p.notice
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	mc-auto-number-format: '{b}Notice:{/b}';
	mc-auto-number-position: outside-head;
	font-weight: normal;
	font-style: italic;
	margin-top: 8pt;
	margin-bottom: 8pt;
	margin-left: 1.5cm;
	mc-auto-number-offset: 1.25cm;
}

p.warning
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	mc-auto-number-format: '{b}Warning:{/b}';
	mc-auto-number-position: outside-head;
	font-weight: normal;
	font-style: italic;
	margin-top: 8pt;
	margin-bottom: 8pt;
	margin-left: 1.5cm;
	mc-auto-number-offset: 1.25cm;
}

p.note
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	mc-auto-number-format: '{b}Note:{/b}';
	mc-auto-number-position: outside-head;
	font-weight: normal;
	font-style: italic;
	margin-top: 8pt;
	margin-bottom: 8pt;
	margin-left: 2.5cm;
	mc-auto-number-offset: 1.0cm;
}

div.safety
{
	padding-top: 6pt;
	padding-bottom: 6pt;
	height: auto;
	font-weight: normal;
	font-style: italic;
	font-size: 8pt;
	position: absolute;
	width: 10.5cm;
	text-align: left;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

div.safetyContent
{
	border-bottom: solid 1pt #000000;
	border-top: solid 1pt #000000;
	padding-bottom: 3pt;
	padding-top: 3pt;
	position: relative;
	left: 1.50cm;
	height: auto;
	padding-right: 0.5cm;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	width: 90%;
	float: left;
	margin-top: 2mm;
	margin-bottom: 2mm;
}

div.safetyLable
{
	text-align: center;
	float: left;
	position: absolute;
	width: 1.5cm;
}

img.safety
{
	padding-bottom: -5pt;
}

p.safetyWord
{
	font-weight: bold;
	text-align: center;
	padding-top: 3pt;
	margin-left: 0cm;
	font-size: 8pt;
	margin-top: -3pt;
	margin-bottom: 0;
}

p.noteCaution
{
	background-repeat: no-repeat;
	background-image: url('../../gfx/Noticegfx/caution/EN/NOTICE_Caution_A3A5.svg');
	float: left;
	clear: both;
	height: 30px;
	margin-top: -3px;
	padding-top: 0px;
	padding-left: 1.4cm;
	margin-left: 0px;
	page-break-before: avoid;
	page-break-after: avoid;
	column-break-before: avoid;
	column-break-after: avoid;
	column-break-inside: avoid;
	page-break-inside: avoid;
}

p.noteWarning
{
	background-repeat: no-repeat;
	background-image: url('../../gfx/Noticegfx/warning/EN/NOTICE_Warning_A3A5.svg');
	float: left;
	clear: both;
	height: 32px;
	margin-top: -3px;
	padding-top: 0px;
	padding-left: 1.4cm;
	margin-left: 0px;
	page-break-before: avoid;
	page-break-after: avoid;
}

p.noteNotice
{
	background-repeat: no-repeat;
	background-image: url('../../gfx/Noticegfx/notice/EN/NOTICE_Notice_A3A5.svg');
	float: left;
	clear: both;
	height: 15px;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 1.4cm;
	margin-left: 0px;
	page-break-before: avoid;
	page-break-after: avoid;
}

p.noteTip
{
	background-repeat: no-repeat;
	background-image: url('../../gfx/Noticegfx/tip/EN/NOTICE_Tip_A3A5.svg');
	float: left;
	clear: both;
	height: 25px;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 1.4cm;
	margin-left: 0px;
	page-break-before: avoid;
	page-break-after: avoid;
}

p.noteBody
{
	font-weight: normal;
	font-style: italic;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0pt;
	margin-bottom: 0pt;
	page-break-inside: avoid;
	page-break-before: avoid;
	page-break-after: avoid;
	column-break-inside: avoid;
	column-break-after: avoid;
	column-break-before: avoid;
}

p.noteTopLine
{
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	margin-bottom: 3px;
	padding: 0px;
	margin-top: 0px;
	page-break-after: avoid;
	column-break-before: avoid;
	column-break-inside: avoid;
	column-break-after: avoid;
	page-break-inside: avoid;
}

p.noteBottomLine
{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	margin-top: 3pt;
	margin-bottom: 0px;
	padding: 0px;
	page-break-before: avoid;
	column-break-before: avoid;
	column-break-inside: avoid;
	page-break-inside: avoid;
}

p.noteBodyBullet
{
	font-weight: normal;
	font-style: italic;
	margin-bottom: 2pt;
	margin-top: 2pt;
	margin-right: 3pt;
	page-break-inside: avoid;
	margin-left: 2.5cm;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
}

p.preface
{
	margin-left: 0;
	font-variant: small-caps;
	margin-bottom: 3pt;
	margin-top: 3pt;
	text-align: left;
	font-size: 7pt;
}

h1
{
	mc-hyphenate: never;
	column-break-inside: avoid;
}

MadCap|variable
{
	mc-hyphenate: never;
}

p.tbullet
{
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
	margin-top: 3pt;
	margin-bottom: 3pt;
	text-align: left;
	font-size: ;
	margin-left: 0.5cm;
}

p.tstep1
{
	text-align: left;
	margin-top: 3pt;
	margin-bottom: 3pt;
	mc-auto-number-format: '{n=1}.';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
	margin-left: 0.5cm;
}

p.tstep
{
	text-align: left;
	margin-top: 3pt;
	margin-bottom: 3pt;
	mc-auto-number-format: '{n+}.';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
	margin-left: 0.5cm;
}

p.heading1
{
	font-size: 14pt;
}

h5
{
	font-weight: normal;
	font-style: italic;
}

MadCap|variable.headerleft
{
	
}

table.standard
{
	caption-side: top;
	border-top-style: solid;
	border-top-width: 1.5pt;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1.5pt;
	border-bottom-color: #000000;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: 0;
}

p.tbody
{
	font-size: 8pt;
}

p.thead
{
	vertical-align: top;
}

div.safety
{
	width: 348px;
	height: 79px;
	mc-float: center;
}

div.safetyLable
{
	float: right;
	width: 1cm;
}

p.safetyBull
{
	background-image: url('../../gfx/Noticegfx/Exclamationonly.svg');
	background-repeat: no-repeat;
	background-position: -0.5cm;
	background-position-y: center;
	padding-top: 4pt;
	padding-bottom: 4pt;
	padding-left: 30px;
	font-style: italic;
	margin-left: 0;
}

MadCap|glossaryProxy
{
	border-top-style: none;
}

MadCap|indexProxy
{
	border-top-style: none;
}

MadCap|xref
{
	mc-format: '{quote}{paratext}{quote} on page {page}';
}

MadCap|xref.tableFig
{
	mc-format: '{b}{paranum}{/b} on page {page}';
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

MadCap|xref.headingPage
{
	font-weight: normal;
	font-style: italic;
	mc-format: '{quote}{paratext}{quote}';
}

MadCap|xref.page
{
	mc-format: 'on page {page}';
}

MadCap|xref.tableFig
{
	mc-format: '{b}{paranum}{/b} on page {page}';
}

MadCap|variable.headerleft
{
	font-weight: bold;
	font-style: normal;
	font-size: 9pt;
	font-family: Arial;
	color: #000000;
	mc-hyphenate: never;
}

p.toctitle
{
	text-align: left;
	margin-top: 0;
	margin-bottom: 38pt;
	margin-left: 0;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	font-variant: small-caps;
}

MadCap|tocProxy
{
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: #ffffff;
}

p.prefaceHeading2
{
	margin-left: 0cm;
	font-weight: bold;
	font-style: normal;
	text-align: left;
}

p.ul
{
	mc-auto-number-format: '• ';
	mc-auto-number-offset: 0.5cm;
	mc-auto-number-position: outside-head;
	margin-bottom: 3pt;
	margin-top: 3pt;
	text-align: left;
	column-break-before: avoid;
	column-break-after: avoid;
	column-break-inside: avoid;
	margin-left: 2cm;
}

p.ulsub
{
	mc-auto-number-format: '• ';
	margin-bottom: 3pt;
	margin-top: 3pt;
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
	text-align: left;
	margin-left: 2.50cm;
}

p.choice
{
	text-align: left;
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 3cm;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
}

p.substep
{
	margin-bottom: 3pt;
	margin-top: 3pt;
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
	text-align: left;
	margin-left: 2.5cm;
	mc-auto-number-format: 'H:{a+}. ';
}

p.substep1
{
	margin-bottom: 3pt;
	margin-top: 3pt;
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
	text-align: left;
	margin-left: 2.50cm;
	mc-auto-number-format: 'H:{a=1}. ';
}

p.stepresult
{
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 2cm;
	text-align: left;
}

p.ol
{
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 2cm;
	text-align: left;
	mc-auto-number-format: '{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
}

p.info
{
	text-align: left;
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 2cm;
}

span.menucascade
{
	font-weight: bold;
	font-style: italic;
}

p.figlegend
{
	text-align: left;
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 2cm;
	mc-auto-number-format: '{A+}.';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
}

span.dt
{
	font-weight: bold;
	font-style: normal;
}

p.xreff
{
	font-weight: normal;
	font-style: italic;
	mc-auto-number-format: '{color gray}► {/color}';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.50cm;
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 2cm;
}

p.xreffindent
{
	mc-auto-number-format: '{color gray}► {/color}';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 0.5cm;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 2.50cm;
}

p.comment
{
	background-color: #ff0000;
}

p.figcentred
{
	text-align: center;
	margin-left: 0;
	margin-top: 20pt;
}

p.figindent
{
	margin-bottom: 6pt;
	margin-left: 2cm;
	mc-auto-number-offset: 3cm;
	mc-auto-number-class: caption;
	border-top-style: none;
	border-top-width: 1pt;
	page-break-after: avoid;
}

p.figtitle
{
	text-align: left;
	margin-bottom: 12pt;
	margin-top: 0;
	border-top-style: solid;
	border-top-width: 1pt;
	page-break-before: avoid;
	column-break-before: avoid;
	mc-auto-number-format: 'GF:{b}Figure {n+}- {/b} ';
	mc-auto-number-offset: 1cm;
	mc-auto-number-class: caption;
}

p.figtitleindent
{
	text-align: left;
	font-size: 8pt;
	border-top-style: solid;
	border-top-width: 1pt;
	margin-bottom: 12pt;
	margin-top: 0;
	mc-auto-number-format: 'GF:Figure {n+} ';
	text-indent: 0;
	page-break-before: avoid;
	mc-auto-number-class: caption;
	margin-left: 2cm;
}

p.infoindent
{
	margin-bottom: 3pt;
	margin-top: 3pt;
	margin-left: 2.5cm;
}

p.fig
{
	margin-top: 12pt;
	margin-bottom: 6pt;
	text-align: center;
}

p.copyrightheading
{
	font-weight: bold;
	text-align: left;
	margin-left: 0;
}

p.prefaceHeading
{
	text-align: left;
	margin-left: 0;
	font-weight: bold;
}

@media non-print
{
	p.ttitle
	{
		mc-auto-number-position: inside-head;
		mc-auto-number-offset: 0;
		margin-left: 1.500cm;
		text-indent: 0;
	}

	h4
	{
		font-weight: bold;
		font-style: normal;
		font-size: 8pt;
	}

	p.noteBody
	{
		page-break-before: avoid;
		column-break-inside: avoid;
		column-break-after: avoid;
		column-break-before: avoid;
		page-break-after: avoid;
		orphans: 20;
	}

	p.noteTopLine
	{
		page-break-inside: avoid;
		column-break-after: avoid;
		column-break-inside: avoid;
		column-break-before: avoid;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		border-bottom-style: solid;
		border-bottom-width: 1pt;
		border-bottom-color: #000000;
		orphans: 20;
	}

	p.noteBottomLine
	{
		column-break-before: avoid;
		column-break-inside: avoid;
		page-break-inside: avoid;
		orphans: 20;
	}

	p.noteCaution
	{
		column-break-before: avoid;
		column-break-after: avoid;
		column-break-inside: avoid;
		page-break-inside: avoid;
		orphans: 20;
	}
}

