/*<meta Version="9" />*/

/* MadCap Table Style: */

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		vertical-align: top;
		text-align: left;
	}

	mcTableBodyStyle
	{
		vertical-align: top;
		separator-style: solid;
		separator-width: 1px;
		separator-color: #a9a9a9;
	}

	mcTableBodyStyle
	{
		background-color: #ffffff;
		vertical-align: top;
		separator-style: solid;
		separator-width: 1px;
		separator-color: #a9a9a9;
	}

	mcTableFootStyle
	{
		
	}
}

@media non-print
{
	mcTableStyle
	{
		margin-right: 0mm;
		margin-top: 0pt;
		margin-bottom: 16pt;
		margin-left: 0cm;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		background-color: #ffffff;
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Normal;
	margin-left: 2.0cm;
	margin-top: 0pt;
	margin-bottom: 16pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1.5pt;
	border-bottom-style: solid;
	border-bottom-width: 1.5pt;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 3pt;
	cell-padding-left: 3pt;
	cell-padding-right: 3pt;
	cell-padding-bottom: 3pt;
	max-id: 4;
	background-color: #f5f5f5;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	ruler-style: none;
	background-color: #f5f5f5;
	name: Body1;
	id: 1;
	type: Automatic;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	ruler-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}

/* Cell Styles: */

@media print
{
	.TableStyle-Normal
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Normal-HeadI-Column1-Header1
	{
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Normal-HeadE-Column1-Header1
	{
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Normal-HeadF-Column1-Header1
	{
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Normal-HeadH-Column1-Header1
	{
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Normal-HeadD-Column1-Header1
	{
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Normal-HeadC-Column1-Header1
	{
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Normal-HeadB-Column1-Header1
	{
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Normal-HeadA-Column1-Header1
	{
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Normal-HeadG-Column1-Header1
	{
		text-align: left;
		vertical-align: top;
	}

	.TableStyle-Normal-BodyI-Column1-Body1
	{
		vertical-align: top;
	}

	.TableStyle-Normal-BodyE-Column1-Body1
	{
		vertical-align: top;
		border-bottom-width: 1px;
		border-bottom-color: #a9a9a9;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-BodyF-Column1-Body1
	{
		vertical-align: top;
		border-bottom-width: 1px;
		border-bottom-color: #a9a9a9;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-BodyH-Column1-Body1
	{
		vertical-align: top;
	}

	.TableStyle-Normal-BodyD-Column1-Body1
	{
		vertical-align: top;
		border-bottom-width: 1px;
		border-bottom-color: #a9a9a9;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-BodyC-Column1-Body1
	{
		vertical-align: top;
	}

	.TableStyle-Normal-BodyB-Column1-Body1
	{
		vertical-align: top;
	}

	.TableStyle-Normal-BodyA-Column1-Body1
	{
		vertical-align: top;
	}

	.TableStyle-Normal-BodyG-Column1-Body1
	{
		vertical-align: top;
	}

	.TableStyle-Normal-BodyI-Column1-Body2
	{
		vertical-align: top;
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyE-Column1-Body2
	{
		vertical-align: top;
		background-color: #ffffff;
		border-bottom-width: 1px;
		border-bottom-color: #a9a9a9;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-BodyF-Column1-Body2
	{
		vertical-align: top;
		background-color: #ffffff;
		border-bottom-width: 1px;
		border-bottom-color: #a9a9a9;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-BodyH-Column1-Body2
	{
		vertical-align: top;
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyD-Column1-Body2
	{
		vertical-align: top;
		background-color: #ffffff;
		border-bottom-width: 1px;
		border-bottom-color: #a9a9a9;
		border-bottom-style: solid;
	}

	.TableStyle-Normal-BodyC-Column1-Body2
	{
		vertical-align: top;
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyB-Column1-Body2
	{
		vertical-align: top;
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyA-Column1-Body2
	{
		vertical-align: top;
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyG-Column1-Body2
	{
		vertical-align: top;
		background-color: #ffffff;
	}
}

@media non-print
{
	.TableStyle-Normal
	{
		margin-left: 0cm;
		margin-right: 0mm;
		margin-top: 0pt;
		margin-bottom: 16pt;
		border-spacing: 0px 0px;
	}

	.TableStyle-Normal-BodyI-Column1-Body2
	{
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyE-Column1-Body2
	{
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyF-Column1-Body2
	{
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyH-Column1-Body2
	{
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyD-Column1-Body2
	{
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyC-Column1-Body2
	{
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyB-Column1-Body2
	{
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyA-Column1-Body2
	{
		background-color: #ffffff;
	}

	.TableStyle-Normal-BodyG-Column1-Body2
	{
		background-color: #ffffff;
	}
}

.TableStyle-Normal
{
	border-collapse: collapse;
	background-color: #f5f5f5;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1.5pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1.5pt;
	margin-left: 2.0cm;
	margin-top: 0pt;
	margin-bottom: 16pt;
	border-spacing: 0px 0px;
}

.TableStyle-Normal-Column-Column1
{
	
}

.TableStyle-Normal-Head-Header1
{
	
}

.TableStyle-Normal-HeadI-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
	background-color: #ffffff;
}

.TableStyle-Normal-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Normal-HeadE-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Normal-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Normal-HeadF-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Normal-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Normal-HeadH-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
	background-color: #ffffff;
}

.TableStyle-Normal-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Normal-HeadD-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Normal-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Normal-HeadC-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
	background-color: #ffffff;
}

.TableStyle-Normal-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Normal-HeadB-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
	background-color: #ffffff;
}

.TableStyle-Normal-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Normal-HeadA-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-Normal-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Normal-HeadG-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-Normal-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Normal-Foot-Footer1
{
	
}

.TableStyle-Normal-FootI-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-Normal-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Normal-FootE-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-Normal-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Normal-FootF-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-Normal-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Normal-FootH-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-Normal-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Normal-FootD-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-Normal-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Normal-FootC-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-Normal-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Normal-FootB-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-Normal-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Normal-FootA-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-Normal-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Normal-FootG-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-Normal-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Normal-Body-Body1
{
	
}

.TableStyle-Normal-BodyI-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #f5f5f5;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Normal-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyE-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #f5f5f5;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Normal-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyF-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #f5f5f5;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Normal-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyH-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #f5f5f5;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Normal-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyD-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #f5f5f5;
	border-bottom-style: none;
}

.TableStyle-Normal-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyC-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #f5f5f5;
	border-right-style: none;
}

.TableStyle-Normal-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyB-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #f5f5f5;
	border-right-style: none;
}

.TableStyle-Normal-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyA-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #f5f5f5;
}

.TableStyle-Normal-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Normal-BodyG-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #f5f5f5;
	border-bottom-style: none;
}

.TableStyle-Normal-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Normal-Body-Body2
{
	
}

.TableStyle-Normal-BodyI-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Normal-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyE-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Normal-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyF-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Normal-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyH-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Normal-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyD-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
}

.TableStyle-Normal-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyC-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-Normal-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyB-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-Normal-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyA-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-Normal-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Normal-BodyG-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
}

.TableStyle-Normal-BodyG-Column1-Body2 p
{
	
}

mcTableStyle
{
	
}

mcTableColumnStyle
{
	
}

mcTableHeadStyle
{
	vertical-align: top;
	text-align: left;
}

mcTableBodyStyle
{
	vertical-align: top;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
}

mcTableBodyStyle
{
	background-color: #ffffff;
	vertical-align: top;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
}

mcTableFootStyle
{
	
}

.TableStyle-Normal
{
	border-spacing: 0px 0px;
}

.TableStyle-Normal-HeadI-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Normal-HeadE-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Normal-HeadF-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Normal-HeadH-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Normal-HeadD-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Normal-HeadC-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Normal-HeadB-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Normal-HeadA-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Normal-HeadG-Column1-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Normal-BodyI-Column1-Body1
{
	vertical-align: top;
}

.TableStyle-Normal-BodyE-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Normal-BodyF-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Normal-BodyH-Column1-Body1
{
	vertical-align: top;
}

.TableStyle-Normal-BodyD-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Normal-BodyC-Column1-Body1
{
	vertical-align: top;
}

.TableStyle-Normal-BodyB-Column1-Body1
{
	vertical-align: top;
}

.TableStyle-Normal-BodyA-Column1-Body1
{
	vertical-align: top;
}

.TableStyle-Normal-BodyG-Column1-Body1
{
	vertical-align: top;
}

.TableStyle-Normal-BodyI-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Normal-BodyE-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Normal-BodyF-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Normal-BodyH-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Normal-BodyD-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-Normal-BodyC-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Normal-BodyB-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Normal-BodyA-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
}

.TableStyle-Normal-BodyG-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
}

